/* p,
h1,
h2,
h3 {
    border: 1px solid black;
} */

:root {
    --myOrange: hsl(26, 100%, 55%);
    --myDarkOrange: hsl(26, 84%, 55%);
    --myPaleOrange: hsl(25, 100%, 94%);
    --myVeryDarkBlue: hsl(220, 13%, 13%);
    --myDarkGrayishBlue: hsl(219, 9%, 45%);
    --myGrayishBlue: hsl(220, 14%, 75%);
    --myLightGrayishBlue: hsl(223, 64%, 98%);
    --myWhite: hsl(0, 0%, 100%);
    --myCream: hsl(30, 56%, 96%);
    --myBlack: hsl(0, 0%, 0%);
}

* {
    box-sizing: border-box;
}



body {
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    background-color: var(--myCream);
}


button,
a {
    cursor: pointer;
}

button {
    user-select: none;
}

.orange-button {
    color: var(--myWhite);
    background-color: var(--myOrange);
    padding: 1rem;
    font-weight: 700;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    border: none;
    width: 100%;
}

.orange-button:hover {
    opacity: 0.8;

}


img {
    object-fit: contain;
}

section {
    width: 100vw;
    margin: auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
}

.page-title {
    font-size: 2rem;
}

.page-title a {
    color: var(--myBlack);
    text-decoration: none;
}

.left-nav,
.right-nav,
.center-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mobile-nav {
    z-index: 2;
    width: 65%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--myWhite);
    transform: translateX(-100%);
    transition: 0.3s linear;
}

.mobile-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin-top: 5rem;
    padding-left: 0.5rem;

}

.close-mobile-nav {
    height: 40px;
    position: fixed;
    top: 35px;
    left: 20px;
}

.close-mobile-nav img {
    height: 20px;
}

.center-nav-item {
    text-align: left;
    list-style-type: none;
    padding: 1rem;
}

.center-nav-item a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    padding: .2rem;
}


.right-nav {
    width: 80px;

}

.left-nav {
    align-items: baseline;
}


.cart {
    width: 25px;
    position: relative;
    margin: 0 10px 0 0;
}

.cart-popup {
    visibility: hidden;
    background-color: var(--myWhite);
    border-radius: 0.5rem;
    box-shadow: 1px 3px 10px grey;
    z-index: 1;
    position: fixed;
    top: 100px;
    left: 10px;
    right: 10px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center
}

.minicart:hover>.cart-popup {
    visibility: visible;
}

.cart-popup:hover {
    visibility: visible;
}

.invisible {
    visibility: visible;
}

.minicart {
    padding-left: 20px;
    padding-right: 10px;
    position: relative;
}

.minicart-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: absolute;
    z-index: 2;
    background-color: var(--myOrange);
    height: 14px;
    width: 18px;
    border-radius: 8px;
    right: 14px;
    top: -5px;
}

.minicart-num {
    margin: 0;
    font-size: 0.6rem;
    color: var(--myWhite);
    font-weight: 700;
    text-align: center;
}

.cart-contents {
    list-style-type: none;
    width: 90%;
    margin: auto;
    text-align: center;
    border-top: 2px solid var(--myLightGrayishBlue);
}

.cart-header {
    width: 80%;
    text-align: left;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 1.2rem;
}

.cart-empty {
    text-align: center;
}

.cart-contains {
    display: none;
    grid-template-columns: 70px 1fr 30px;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    color: var(--myDarkGrayishBlue);
    font-size: 0.9rem;
    font-weight: 500;
    margin: 20px 0;
}

.cart-contains p {
    width: 100%;
    margin: 0;
}

.minicart-thumb {
    grid-column: 1;
    grid-row: 1/3;
    width: 50px;
    border-radius: .3rem;
    margin: auto;
    margin-right: 20px;
}

.display-item-name {
    text-align: left;
    grid-column: 2;
    grid-row: 1;
}

.display-item-price-details {
    text-align: left;
    grid-column: 2;
    grid-row: 2;
    font-size: 0.9rem;
}

.delete-cart-item {
    grid-column: 3;
    grid-row: 1/3;
    margin: auto;
    cursor: pointer;
}

.display-calculated-price {
    font-weight: 700;
    color: var(--myBlack);
}

.to-checkout {
    grid-column: 1/4;
    grid-row: 3;
    margin: 20px 0 0 0;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
}

.avatar img {
    height: 30px;

}

.hamburger {
    margin: 0 10px;
}

.bar {
    height: 4px;
    width: 20px;
    background-color: var(--myDarkGrayishBlue);
    margin: 1px;
    margin-bottom: 3px;


    &:last-of-type {
        margin-bottom: 0;
    }
}

.product-page {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

}

.product-photos {
    grid-column: 1;
    grid-row: 1;
}

.arrows-mobile {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: -50%;
    cursor: pointer;
}

.left-arrow img,
.right-arrow img {
    width: 30%;
    user-select: none;
}

.left-arrow,
.right-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--myWhite);
    border-radius: 50%;
}

.left-modal-arrow {
    transform: translateX(-25px);
}

.right-modal-arrow {
    transform: translateX(25px);
}

.main-photo {
    width: 100%;
}


.thumbnails img {
    display: none;
}

.product-info {
    grid-column: 1;
    grid-row: 2;
    margin: 0 20px;
}

.product-details h2 {
    display: inherit;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--myDarkOrange);
}

.product-details h3 {
    display: inherit;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
}

.product-details p {
    color: var(--myDarkGrayishBlue);
}

.product-pricing {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-column: 1;
    grid-row: 3;
}

.display-current-price {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

.current-price {
    grid-column: 1/2;
    grid-row: 1;
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0;
    padding: 0.2rem 1rem 0 0;

}

.discount-amount,
.msrp {
    margin: auto;
    padding: 0.2rem 0.5rem;
    font-weight: 700;
}

.discount-amount {
    grid-column: 2;
    grid-row: 1;
    font-weight: 700;
    margin-left: 0;
    background-color: var(--myPaleOrange);
    color: var(--myDarkOrange);
    border-radius: 0.5rem;
}

.msrp {
    grid-column: 5;
    grid-row: 1;
    text-decoration: line-through;
    color: var(--myGrayishBlue)
}

.cart-actions {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.increment {
    grid-column: 1/6;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--myLightGrayishBlue);
    border-radius: 1rem;
    text-align: center;
    align-items: center;
    font-weight: 700;
}

.increment p {
    margin: 0;
}

.up-down {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0px;
    color: var(--myOrange);
    background-color: transparent;
    height: 50px;
    width: 100%;
    min-width: 50px;
    border: none;
}

.minus {
    padding-bottom: 5px;
}

.up-down:hover {
    opacity: 0.8
}

.add-to-cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column: 1/6;
    grid-row: 3;
    height: 50px;
    box-shadow: 0 20px 50px rgba(255, 125, 26, 0.3);
}

.cart-icon-add {
    height: 1rem;
    margin-right: 10px;
    filter: brightness(1000%);
}



.modal {
    display: none;
}



.attribution {
    margin-top: 20px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width:1050px) {

    section {
        width: 80vw;
        max-width: 1200px;
    }

    .mobile-nav {
        position: revert;
        transform: translateX(15%);
        margin: auto;
    }

    .mobile-nav ul {
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }

    .close-mobile-nav {
        display: none;
    }

    .left-center-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .hamburger {
        display: none;
    }

    nav {
        width: 80%;
        margin: auto;
        border-bottom: 2px solid var(--myLightGrayishBlue);
    }

    .mobile-nav {
        display: block;
        background-color: transparent;
    }

    .center-nav {
        height: 100%;
    }

    .center-nav-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        height: 100%;
        margin: 5px 5px 0 5px;
        border-bottom: 5px solid transparent;
    }

    .center-nav-item a {
        color: var(--myDarkGrayishBlue);
        text-decoration: none;
    }

    .center-nav-item:hover {
        padding-top: 0;
        border-bottom: 5px solid var(--myOrange);
    }

    .cart-popup {
        position: absolute;
        width: 300px;
        left: -150px;
        top: 20px;
    }

    .avatar:hover {
        background-color: var(--myOrange);
        border-radius: 50%;
    }

    .avatar {
        width: 44px;
        height: 44px;
        padding: 4px;
    }

    .avatar img {
        height: 40px;
        width: 40px;
    }

    .product-page {
        margin-top: 80px;
        grid-template-columns: 1fr 50px 1fr;
    }

    .product-photos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 100px;
        grid-column-start: 1;
        grid-row: 1;
        gap: 20px;
        width: 30vw;
        max-width: 600px;
        height: auto;
    }

    .arrows-mobile {
        display: none;
    }

    .modal-arrows {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        top: -350px;
        cursor: pointer;
    }

    .modal {
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        padding-top: 50px;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.7);
    }

    .modal-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 50%;
        max-width: 600px;
    }

    .modal-main-photo {
        width: 100%;
        margin-bottom: 20px;

        &:hover {
            cursor: zoom-out;
        }
    }

    .main-photo,
    .modal-main-photo {
        grid-row: 1;
        border-radius: 1rem;
        cursor: zoom-in;
    }

    .modal-thumb-container {
        border-radius: 1.1rem;
        background-color: white;
    }

    .modal-thumbnails,
    .thumbnails {
        grid-row: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100px;
    }

    .thumbnails img,
    .modal-thumbnails img {
        display: block;
        position: relative;
        border-radius: 1rem;
        cursor: pointer;
        height: 100%;
    }

    .thumbnails img {
        height: 90%;
        margin: 2px;
    }



    .thumbnail:hover,
    .modal-thumbnail:hover {
        opacity: 0.7;
    }

    .modal-main-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .modalX {
        cursor: pointer;
        padding: 10px;
    }

    .left-modal-arrow img,
    .right-modal-arrow img {
        width: 30%;
        user-select: none;
    }

    .left-modal-arrow:hover>img,
    .right-modal-arrow:hover>img {
        filter: invert(63%) sepia(23%) saturate(7422%) hue-rotate(347deg) brightness(102%) contrast(101%);
    }


    .left-modal-arrow,
    .right-modal-arrow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: var(--myWhite);
        border-radius: 50%;
    }

    .left-modal-arrow {
        transform: translateX(-25px);
    }

    .right-modal-arrow {
        transform: translateX(25px);
    }

    .modal-close {
        color: var(--myWhite);
        font-size: 2rem;
        font-weight: 700;
        text-align: end;
        user-select: none;
    }

    .modal-close:hover {
        filter: invert(63%) sepia(23%) saturate(7422%) hue-rotate(377deg) brightness(122%) contrast(101%);
    }

    .active-thumb {
        border: 2px solid var(--myOrange);
        opacity: 0.6;
    }


    .product-info {
        grid-column: 3;
        grid-row: 1;
        align-self: center;
    }

    .product-pricing {
        grid-template-columns: repeat(2, 130px);

    }

    .current-price {
        grid-column: 1;
        grid-row: 1;
    }

    .discount-amount {
        grid-column: 2;
        grid-row: 1;
        margin-left: 0;
    }

    .msrp {
        grid-column: 1;
        grid-row: 2;
        margin-left: 0;
        padding-left: 0;
    }

    .cart-actions {
        grid-template-columns: 1fr 2fr;
        gap: 15px;
    }

    .increment {
        grid-column: 1;
        grid-row: 3;
        margin: 0;
    }

    .add-to-cart {
        line-height: 1.5rem;
        grid-column: 2/3;
        grid-row: 3;
        padding: 0;
    }



    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .attribution {
        font-size: 14px;
        text-align: center;
        padding: 10px;
    }
}